@use 'variables' as *;

.about {
  padding: 60px 0;
  text-align: center;
  background: #fff;
}

.about-inner {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.about h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
}

.about p {
  max-width: 540px;
  margin: 0 auto;
  color: $gray;
  line-height: 26px;
}