@use 'variables' as *;

.work {
  padding: 60px 0;
  text-align: center;
  background: none;
}

.work-inner {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.work h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
}

.work p {
  max-width: 540px;
  margin: 0 auto 57px;
  color: $gray;
  line-height: 26px;
}

.video-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.video-container iframe {
  width: 1110px;
  height: 600px;
  max-width: 100%;
}